* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height:500px;
    border-bottom: 15px solid green;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: linear-gradient(#87ceeb, #e6f6ff)
}
.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    right: -80px;
    animation: pipe-animation 1.5s infinite linear;
}


.pam {
    width: 150px;
    position: absolute;
    bottom: 0;
    
}

.jump {
 animation: jump 500ms ease-out; 
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

.mensagem {
    display: block;
    margin-top: 20px;

    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    color: #322e7d;
}

.restart {
    margin-top: 15px;
    padding: 14px 30px;

    font-family: 'Press Start 2P', cursive;
    font-size: 14px;

    color: #fff;
    background: linear-gradient(#e53935, #c62828);

    border: 4px solid #000;
    border-radius: 6px;

    cursor: pointer;

    box-shadow:
        0 6px 0 #000,
        0 10px 15px rgba(0,0,0,0.4);

    transition: all 0.1s ease-in-out;
}

.restart:hover {
    background: linear-gradient(#ef5350, #d32f2f);
}

.restart:active {
    box-shadow:
        0 2px 0 #000,
        0 4px 8px rgba(0,0,0,0.4);
    transform: translateY(4px);
}
.restart {
    display: none;
    margin: 15px auto 0 auto;
}




@keyframes pipe-animation {
    from {
        right: 0%;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;  
}
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}